<nav>
    <div class="logo"> <a href="/"> Kainderya </a> </div>
    <div class="search-bar">
      <input type="text" placeholder="Maghanap dito">
      <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    <div class="user-actions">
      <button class="icon-button"><i class="fas fa-shopping-cart"></i></button>
      <button class="icon-button"> <a href="/login"><i class="fas fa-user"></i> </a> </button>
    </div>
  </nav>