<nav>
    <div class="header">
      <div class="header-child"></div>
      <b class="kain-na">KAIN NA</b>
      <img class="header-item" alt="" src="./public/frame-6.svg" />

      <img class="header-inner" alt="" src="./public/frame-7.svg" />

      <img class="frame-icon" alt="" src="./public/frame-8.svg" />

      <div class="rectangle-div"></div>
      <div class="maghanap-dito">Maghanap dito</div>
    </div>
</nav>