
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="sidebar">
        <div class="logo"> <a href="/"> Kainderya </a> </div>
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-shopping-cart"></i> My Cart</a>
        <a href="#"><i class="fas fa-file-alt"></i> My Orders</a>
        <a href="#"><i class="fas fa-user"></i> My Account</a>
        <a href="#"><i class="fas fa-question-circle"></i> Help and Support</a>
        <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</body>
