<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="/css/checkout.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap"
    />
  </head>
<body>
    <div class="palengke-landing-screen">
      <div class="frame-parent">
        <div class="logo-wrapper">
          <div class="logo">Logo</div>
        </div>
        <div class="frame-group">
          <div class="palengke-parent">
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">
                    <a href="/product"><i class="fas fa-home"></i> Back</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="palengke">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item">
                  <div class="sidebar-item">
                    <a href="/"><i class="fas fa-home"></i> Palengke</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">

                    <a href="/"><i class="fas fa-shopping-cart"></i> My Basket</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">

                    <a href="/checkout"><i class="fas fa-file-alt"></i> My Orders</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-horizontal">
            <div class="divider-horizontal-child"></div>
          </div>
          {{#if phone}}
          <div class="basket">
            <div class="base-sidebar-item-states">
              <div class="base-sidebar-item1">
                <div class="sidebar-item">
                    <a href="/"><i class="fas fa-user"></i>My Account</a>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-horizontal">
            <div class="divider-horizontal-child"></div>
          </div>
          {{/if}}
          <div class="help-parent">
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">
                    <a href="/"><i class="fas fa-question-circle"></i>Help & Support</a>
                  </div>
                </div>
              </div>
            </div>
            {{#if phone}}
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">
                    <form class="fas fa-sign-out-alt" action="/logout" method="post">
                        <a href="/"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {{else}}
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">

                    <a href="/login"><i class="fas fa-sign-out-alt"></i>Login</a>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    <!-- Place sidenav -->

    <div class="checkout">Checkout</div>
        <div class="orders">Orders</div>
        <div class="payment-details">Payment Details</div>
        <div class="cod">COD</div>
        <div class="e-wallet">E-Wallet</div>
        <div class="my-basket-child"></div>
        <div class="adress-here">
        Address here
        E-Square Zone, 14/F Net Cube Centre 3rd Avenue, corner 30th St, Taguig, 1634 Metro Manila
        </div>
        <div class="delivery-address">Delivery Address</div>
        <b class="change">Change</b>
        <div class="my-basket-item"></div>
        <div class="item">ITEM</div>
        <div class="base-price-per">BASE PRICE PER KILO</div>
        <div class="kg">KG</div>
        <div class="subtotal">SUBTOTAL</div>
        <div class="delivery-frequency">DELIVERY FREQUENCY</div>
        <div class="image-9-parent">
        
            <img class="image-9-icon" alt="" src="Porkchop.png" width="150px"/>

            <div class="tomatoes">Porkchop</div>
            <div class="div">300</div>
            <div class="div1">2</div>
            <div class="div2">600</div>
            <div class="daily">Daily</div>
        </div>
        <div class="my-basket-inner"></div>
        <div class="rectangle-div"></div>
        <div class="my-basket-child1"></div>
        <div class="blue-button-base-simple">
            <div class="base-btn-base">
                <button class="btn" class="base-btn">Place orders</button></div>
            </div>
        </div>
        <div class="my-basket-child2"></div>
        <div class="all-orders-wil">
            All orders wil be delivered to you before 7AM.
        </div>
        <div class="total-4-items"><b>Total (1 items): PHP 600</b></div>
    </div>
</body>
</html>
