<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap"
    />
  </head>

<style>
:root {
  /* fonts */
  --font-barlow: Barlow;
  --font-righteous: Righteous;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-sm: 14px;

  /* Colors */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --color-white: #fff;
  --color-black: #000;
  --gray-300: #d2d5da;
  --gray-800: #1f2937;
  --gray-200: #e5e7eb;
  --orange-200: #fed7aa;
  --orange-500: #f97316;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-base: 16px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-5xl: 24px;
}

.logo {
  position: relative;
  letter-spacing: 0.22px;
  line-height: 17.94px;
}
.logo-wrapper {
  width: 200px;
  display: flex;
  flex-direction: row;
  padding: 56px 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.container{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  overflow: hidden;
  top: 40px;
  left: 500px;
  font-size: var(--font-size-sm);
  color: var(--gray-800);
  font-family: var(--font-barlow);
}
.product-detail {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}

.product-image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-quantity {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-to-basket {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 109px;
  left: 256px;
  font-size: 16px;
  line-height: 140%;
  font-size: var(--font-size-sm);
  color: var(--gray-800);
  font-family: var(--font-barlow);
}
</style>

<body>
  <div class="back"><a href="product.html">Back</a></div>
  <div class="container">
    <div class="product-detail">
      <img src="/images/2.png" height="300px" width="300" alt="Product Image" class="product-image">
      <h1 class="product-name">Tomatoes</h1>
      <p class="product-price">₱ 25.00 /1kg</p>
      <p class="product-quantity">In stock: 50</p>
      <label for="kilo"> How many kilos would you like to order? </label><br><br>
      <input type="text" placeholder="kilograms">
      <br><br>
      <button class="add-to-basket"><b>Add to Basket</b>- ₱ 25.00 /1kg</button>
    </div>
  </div>
</body>

</html>
