<!DOCTYPE html>
<head>
    <title> Login </title>
</head>
<body>
    <form method = "post">
        <label for = phone> Phone </label>
        <input type ="text" placeholder="Enter Phone" name="phone" id="phone" required>

        <label for = password> Passowrd </label>
        <input type ="password" placeholder="Enter Password" name="password" id="password" required>

        <input type="submit" id="submit" value="Submit"/>
        <a href="/signup">Signup</a>
    </form>

    <div>
        
    </div>
</body>