<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <link rel="stylesheet" href="../public/css/style.css" />
        <title> Kainderya | Log in </title>
    </head>

<body>
    {{> navbar}}
  <div class="login-container">
    <h1 class="welcome-header">Tuloy po kayo!</h1>
    <form class="login-form">
      <label for="mobile-number">Enter your Mobile Number</label>
      <input type="text" id="mobile-number" placeholder="Mobile number">
      <button type="submit" class="login-button">Log in</button>
      <p class="signup-link">Don't have an account? <a href="#">Sign up</a></p>
    </form>
  </div>
  </body>
</html>
