<!DOCTYPE html>
<head>
    <title> Signup </title>
</head>
<body>
    <form method="post">

        <label for = fname> First Name </label>
        <input type ="text" placeholder="Enter First Name" name="fname" id="fname" required>

        <label for = lname> Last Name </label>
        <input type ="text" placeholder="Enter Last Name" name="lname" id="lname" required>

        <label for = phone> Phone </label>
        <input type ="tel" placeholder="Enter Phone" name="phone" id="phone" required>

        <label for = password> Password </label>
        <input type ="password" placeholder="Enter Password" name="password" id="password" required>
        
        <label for = storename> Store Name </label>
        <input type ="text" placeholder="Enter Store Name" name="storename" id="storename" required>

        <label for = storeadd> Store Address </label>
        <input type ="text" placeholder="Enter Store's Address" name="storeadd" id="storeadd" required>

        <input type="submit" value="Signup" id="submit">
    </form>
    <a href="/login"> Back to log in</a>
</body>