{{!-- <!DOCTYPE html>
<head>
    <title> Signup </title>
</head>
<body>
    <a href="/"> Home </a><br>
    <form method="post">

        <label for = fname> First Name </label>
        <input type ="text" placeholder="Enter First Name" name="fname" id="fname" required>

        <label for = lname> Last Name </label>
        <input type ="text" placeholder="Enter Last Name" name="lname" id="lname" required>

        <label for = phone> Phone </label>
        <input type ="tel" placeholder="Enter Phone" name="phone" id="phone" required>

        <label for = password> Password </label>
        <input type ="password" placeholder="Enter Password" name="password" id="password" required>
        
        <label for = storename> Store Name </label>
        <input type ="text" placeholder="Enter Store Name" name="storename" id="storename" required>

        <label for = storeadd> Store Address </label>
        <input type ="text" placeholder="Enter Store's Address" name="storeadd" id="storeadd" required>

        <input type="submit" value="Signup" id="submit">
    </form>
    <a href="/login"> Back to log in</a>
</body> --}}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> Log In </title>
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous:wght@400;700&display=swap"/>
        <link href="/css/style.css" rel="stylesheet" />
    </head>

<body>
    {{> navbar}}
  <div class="login-container">
    <h1 class="welcome-header">Tuloy po kayo!</h1>
    <form class="login-form" method = "post">
      <label for = fname> First Name </label>
        <input type ="text" placeholder="Enter First Name" name="fname" id="fname" required>

        <label for = lname> Last Name </label>
        <input type ="text" placeholder="Enter Last Name" name="lname" id="lname" required>

        <label for = phone> Phone </label>
        <input type ="tel" placeholder="Enter Phone" name="phone" id="phone" required>

        <label for = password> Password </label>
        <input type ="password" placeholder="Enter Password" name="password" id="password" required>
        
        <label for = storename> Store Name </label>
        <input type ="text" placeholder="Enter Store Name" name="storename" id="storename" required>

        <label for = storeadd> Store Address </label>
        <input type ="text" placeholder="Enter Store's Address" name="storeadd" id="storeadd" required>
      <button type="submit" class="login-button">Log in</button>
      <p class="signup-link"> Have an account? <a href="/login">Log In</a></p>
    </form>
  </div>
  </body>
</html>