<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Responsive to mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="./css_files/login_page_style.css">
    <link rel="stylesheet" href="./css_files/text_style.css">
    <link rel="stylesheet" href="./css_files/button_style.css">
    <!-- Icon Logo -->
    <link rel = "icon" href = "/Images/ILS_Logo.png" type = "image/x-icon">
    <title>Home Page</title>
</head>

<body>
    <nav class = "navbar">
            <a class="navbar-brand" href="#">
            <button class = "btn btn-home" type="button" img src="untitled.sgv" width="30" height="30" alt="">Home</button>
            <button class = "btn btn-search" type="button" img src="untitled.sgv" width="30" height="30" alt="">Search</button>
            <button class = "btn btn-basket" type="button" img src="untitled.sgv" width="30" height="30" alt="">Basket</button>
            <button class = "btn btn-account" type="button" img src="untitled.sgv" width="30" height="30" alt="">Account</button>
            </a>    
    </nav>

    <div class = "container">
        <div class="header header home">
            <h2>Hello Maria!</h2>
            <h4>Here's the latest on your account.</h4>
        </div>
    </div>
</body>
</html>